################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/Dam/.vs
/Dam/Dam/obj
/Dam/Dam/bin
/Dam/packages